.categoryButtons {
    padding: 20px;
    margin-top: 20px;
    margin-left: 30%;
    border-radius: 40px;
    width: 10%;
    height: 70px;
    background-color: gray;
    color: #f0f2f5
}

.cell {
    width: 120px;
    height: 100px;
    border: 1px solid;
}

.Board {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.pathButtons {
    padding: 20px;
    margin-top: 20px;
    margin-left: 30%;
    border-radius: 40px;
    width: 80%;
    height: 100px;
    background-color: gray;
    color: #f0f2f5
}